<div class="content10">
  <div class="nakami2">
    <p class="setsumei1">AIで顔認識するとあなたの気持ちを察して言葉をかけてくれます。早速気持ち診断して声をかけてもらいしょう！</p>
    <h2>Add New URL</h2>

    <%= form_for :emotion_log, url: emotion_logs_path do |f| %>
      <p>
        <%= f.text_field :image_url, placeholder: 'URLを入力してください' %>
        <% if @emotion_log.errors.messages[:address].any? %>
          <span class="error">
            <%= @emotion_log.errors.messages[:address][0] %>
          </span>
        <% end %>
      </p>
      <p>
        <%= f.submit "登録する" %>
      </p>
    <% end %>
  </div>
</div>
